---
import Layout from "../../layouts/Layout.astro";
---
<Layout  title="Country">
  <main class="font-primary">
    <div class="container mx-auto">
        <button class="flex gap-3 items-center text-sm border py-2 px-6 shadow text-dark-gray mb-12">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-black">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
          </svg>
          Back
        </button>
        <div class="grid-country grid">
          <div>
            <img src="https://flagcdn.com/w320/kn.png" alt="camerum">
          </div>
          <div>
            <h2>Belgium</h2>
            <div class="country-details">
              <ul>
                <li>Native Name: <span>Belgie</span></li>
                <li>Population: <span>Belgie</span></li>
                <li>Region: <span>Belgie</span></li>
                <li>Sub Region: <span>Belgie</span></li>
                <li>Capitale: <span>Belgie</span></li>
              </ul>
              <ul>
                <li>Top Level Domain: <span>Belgie</span></li>
                <li>Currencies: <span>Belgie</span></li>
                <li>Languages: <span>Belgie</span></li>
              </ul>
              <footer>
                <span>Border Countries: </span>
                <ul>
                  <li>France</li>
                  <li>Germany</li>
                  <li>Netherlands</li>
                </ul>
              </footer>
            </div>
          </div>
        </div>
    </div>
  </main>
</Layout>
        