---
import ThemeButton from "./Svelte/ThemeButton.svelte";
---

<header class="shadow mb-10 dark:text-lighter-gray dark:bg-dark-blue">
  <div class="container mx-auto">
    <div class="flex py-5 items-center">
      <div>
        <a href="/" class="no-underline font-bold">Where in the world?</a>
      </div>
      <div class="ml-auto">
        <ThemeButton client:only="svelte"/>
      </div>
    </div>
  </div>
</header>
