---
export function getStaticPaths() {
  return [
    {params: {dog: 'clifford'}},
    {params: {dog: 'rover'}},
    {params: {dog: 'becan'}},
  ];
}

const { dog } = Astro.params;
---
<div>Good dog, {dog}!</div>